pre, dl pre, blockquote pre, li pre {
    padding: 7px;
    font-style: normal;
}

details.admonition-solution blockquote {
    padding: 0;
    margin: 0;
    font-style: normal;
    background-color: rgb(255, 255, 255)
}

